<div class="jumbotron jumbotron-custom">
  <div class="container">
    <h1>Le Projet Kazimirski</h1>
    <p>Le Projet Kazimirski consiste à réaliser une version interrogeable en ligne du dictionnaire Arabe-Français publié par A. de Biberstein Kazimirski en 1860, considéré comme référence pour l'étude de la langue Arabe dans la francophonie.</p>
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6"><h2>Le Projet</h2>
      <p>Grâce aux volontaires, nous transcrivons les 3000 pages scannées du dictionnaire en texte informatisé.</p>
      <p>En effet, les technologies actuelles de reconnaissance de caractères ne permettent pas de reconnaître de façon fiable le texte comportant des mots dans les deux alphabets.</p>
      <p>A l'issue du projet, il sera possible d'interroger le dictionnaire en ligne sur le site <a href="http://www.kazimirski.fr" target="_blank">www.kazimirski.fr</a>. De plus, le texte informatisé, transcrit par la communauté, sera mis à disposition du public en libre téléchargement.</p>
    </div>
    <div class="col-md-6"><h2>Contribuer au projet</h2>
      <p>100 participants transcrivant chacun une page par jour peuvent atteindre l'objectif du projet en 30 jours.</p>
      <p><%= link_to 'Rejoindre le projet', new_user_registration_path, :role => 'button', :class => 'btn btn-info btn-lg' %></p>
    </div>
  </div>



  <div class="row">

    <div class="col-md-6">
      <h2>Les organisateurs</h2>
      <p>François Bruneau est développeur web, passionné par Internet en tant qu'outil décuplant le potentiel des communautés et facilitant l'échange entre les cultures.</p>
      <p>Justine Bruneau-Zahiri est étudiante en 3ème année de Licence en Langue Arabe et Commerce International à l'INALCO (Paris).</p>
      <p><a class="btn btn-info btn-lg" role="button" href="mailto:contact@kazimirski.fr">Nous contacter</a></p>
    </div>


    <div class="col-md-6">

      <h2>FAQ</h2>


      <dl>
        <dt>
          Comment la qualité de la transcription est-elle garantie ?
        </dt>
        <dd>
          Chaque page est validée par une équipe de relecteurs volontaires.
        </dd>
      </dl>


      <dl>
        <dt>
          Le projet est-il en accord avec le droit d'auteur ?
        </dt>
        <dd>
          La transcription s'effectue à partir des Tomes I & II du dictionnaire, scannés et mis à disposition par la bibliothèque de l'Université de Toronto sur le site <a href="https://archive.org/details/dictionnairearab01bibeuoft" target="_blank">www.archive.org</a> au titre du domaine public.
        </dd>
      </dl>

    </div>
  </div>
</div>