<%= simple_form_for @page do |f| %>

      <div class="row editor">
        <div class="row-same-height row-full-height">
            <div class="col-xs-6 col-xs-height col-full-height">
              <div class="scanned-image">
                <%= image_tag @page.scanned_image.url, class: 'img-responsive' %>
              </div>
            </div>
            <div class="col-xs-6 col-xs-height col-full-height">
              <%= f.input :content, class: 'form-control input-lg', wrapper: false, label: false %>
            </div>
        </div>
      </div>

    <div class="container">
      <div class="row editor-toolbar">
        <%= f.button :submit %>
      </div>
    </div>

<% end %>