<%= simple_form_for @page do |f| %>

      <div class="row editor">
        <div class="row-same-height row-full-height">
            <div class="col-xs-6 col-xs-height col-full-height col-scan">
              <div class="scanned-image-container">
                <div class="scanned-image" style="background-image: url('<%= @page.scanned_image.url %>')"></div>
              </div>
            </div>
            <div class="col-xs-6 col-xs-height col-full-height col-input">
              <%= f.input :content, class: 'form-control input-lg', wrapper: false, label: false %>
            </div>
        </div>
      </div>

      <div class="pull-right bottom-bar">
        <%= f.button :submit, "Envoyer cette page", class: 'btn-info'  %>
      </div>

<% end %>