<h1>Bienvenue !</h1>

<p>Vous pouvez confirmer votre inscription en cliquant sur le lien ci-dessous :</p>

<table class="button primary radius" style="margin-bottom: 10px;">
  <tr>
    <td>
      <%= link_to 'Confirmer mon inscription', confirmation_url(@resource, confirmation_token: @token) %>
    </td>
  </tr>
</table>

<p></p>